* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  
  /*  corpo da página */
  body{

    background: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh
}

